.rooms {
  background-color: white;
  width: 20%;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  box-shadow: inset 8px 0px 10px rgb(242, 242, 242);
}
.room__link_active {
  text-decoration: none;
  .room {
    color: rgb(59, 59, 59);
    background-color: rgba(128, 0, 128, 0.1);
  }
}
.room__link {
  color: rgb(59, 59, 59);
  text-decoration: none;
}
.room {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  justify-content: space-between;

  height: 50px;
  text-align: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.title {
  border-bottom: 1px solid rgb(221, 221, 221);
  align-items: center;
  display: flex;
  padding: 26px;
  font-size: 20px;
}
.title p {
  margin-right: 8px;
  font-weight: bold;
  color: rgb(59, 59, 59);
}
.rooms__count {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(59, 59, 59);
}
.room__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.room__content div {
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}
.room__content p {
  color: gray;
  margin-left: 12px;
  font-size: 10px;
}
.room__date {
  margin-top: 8px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
