.chat {
  width: 100%;
  display: flex;
}
.message {
  width: 200px;
  margin-left: 12px;
  padding: 8px 4px 8px 4px;
  background-color: rgb(233, 233, 233);
  margin-bottom: 6px;
  border-radius: 10px;
  p {
    margin-left: 4px;
  }
}
.message__your {
  width: 200px;
  background-color: purple;
  color: white;
  margin-left: auto;
  padding: 8px 4px 8px 4px;
  margin-bottom: 6px;
  border-radius: 10px;
  p {
    margin-left: 4px;
  }
  margin-right: 10px;
}

.chatroom {
  width: 60%;
  height: 100%;
}
.chatroom__content::-webkit-scrollbar {
  display: none;
}
.chatroom__send {
  bottom: 0;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: purple;
  }
}
.chatroom__send_textarea {
  width: 100%;
}
.chatroom__content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: calc(100% - 50px);
  overflow: auto;
  overscroll-behavior-y: contain;
}
