.chat {
  width: 100%;
  display: flex;
}
.message {
  width: 200px;
  margin-left: 12px;
  padding: 10px 12px 10px 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}
.message__your {
  background-color: purple;
  color: white;
  margin-left: auto;
  padding: 10px 12px 10px 10px;
  border-radius: 10px;
  margin-left: 2;
  margin-right: 10px;
}
.message__wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  span {
    font-weight: bold;
  }
}
.chatroom__typing {
  color: gray;
  margin-left: 8px;
  margin-top: 8px;
}
.chatroom {
  width: 60%;
  height: 100%;
}
.chatroom__content::-webkit-scrollbar {
  display: none;
}
.chatroom__send {
  bottom: 0;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: purple;
  }
}
.chatroom__send_textarea {
  width: 100%;
}
.chatroom__content {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: calc(100% - 50px);
  overflow: auto;
  overscroll-behavior-y: contain;
}
.message__status {
  margin-left: 16px;
  color: gray;
}
